* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    text-decoration: none;
}

header {
    padding: 20px;
    height: 150px;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: black;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
}

header span {
    color: black;
    text-shadow: 0 0 5px black;
    text-transform: uppercase;
    font-style: italic;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 70%;
    font-size: 25px;
}

.lupa {
    height: 44px;
    width: 40px;
}

.userlogo {
    background-image: url(../user.png);
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
}

.nav a {
    display: block;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;

}

main {
    width: 100%;
    height: 505px;
    background-color: orange;
}

.banner {
    width: 100%;
}

section {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barradivisora {
    height: 10px;
    background-color: orange;
}

.catalogo {
    height: 600px;
    width: 80%;
    margin: 200px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcatalogo {
    height: 300px;
}

.catalogos {
    display: inline-block
}

.txtcatalogo {
    float: right;
    display: inline;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.redes {
    font-size: 50px;
}

footer p {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ubi {
    height: 200px;
    width: 300px;
}


/* NOSOTROS */

.nostrospng {
    background-image: url(../nostrospng.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    -webkit-text-stroke: 3px #f0821c;
}

.usgeneral {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 10px;
    font-size: 35px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: orange;
}

.misioncards {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcardus {
    height: 500px;
    width: 100%;
    padding: 20px;
}

.card1us {
    padding: 20px;
    border: solid 5px orange;
}

.card2us {
    padding: 20px;
    border: solid 5px orange;
}

.card3us {
    padding: 20px;
    border: solid 5px orange;
}

.mapus {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    width: 100%;
    height: 600px;
}


/* PRODUCTOS */

.cards {
    height: auto;
    display: grid;
    padding: 100px;
    grid-gap: 80px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 500px;
    grid-template-areas:
        "card1 card2 card3"
        "card1 card2 card3"
        "card4 card4 card4"
        "card5 card5 card5";
}

.card1 {
    background-color: #333;
    grid-area: card1;
    display: block;
    border: solid 5px black;
    padding: 20px;
}

.card2 {
    background-color: #333;
    grid-area: card2;
    border: solid 5px black;
    padding: 20px;
}

.card3 {
    background-color: #333;
    grid-area: card3;
    border: solid 5px black;
    padding: 20px;
}

.card4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    grid-area: card4;
    border: solid 5px black;
    padding: 20px;
}

.card5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    grid-area: card5;
    border: solid 5px black;
    padding: 20px;
}

.imgcard {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cards p {
    text-align: center;
    padding: 20px;
}

.buyform {
    padding: 20px;
}

.buy {
    width: 100%;
    height: 40px;
    background-color: rgb(71, 71, 211);
}

.buy4 {
    width: 100%;
    height: 200px;
    background-color: rgb(71, 71, 211);
}

.buy:hover {
    filter: grayscale(100%);
}

.buy4:hover {
    filter: grayscale(100%);
}

.sectionproductos{
    display: block;
    padding: 20px;
    height: auto;
}
.filter{
    display: block;
    height: 30px;
    width: 70px;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tablaproductos {
    text-align: center;
    display: grid;
    grid-template-columns: 300px 500px 200px ;
    grid-template-rows: auto;
}
.productos{
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
}
.descripcion{
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
}
.precios{
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
}
.tabla{
    border: 2px solid black;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtabla{
    height: 200px;
}