* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    height: 150px;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: black;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
}

header span {
    color: black;
    text-shadow: 0 0 5px black;
    text-transform: uppercase;
    font-style: italic;
}

.user {
    size: 10px;
}

.nav a {
    display: block;
    align-items: center;
}

main {
    width: 100%;
    height: 505px;
    background-color: orange;
}

.banner {
    width: 100%;
}

section {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barradivisora {
    height: 10px;
    background-color: orange;
}

.catalogo {
    height: 600px;
    width: 80%;
    margin: 200px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcatalogo {
    height: 300px;
}

.catalogos {
    display: inline-block
}

.txtcatalogo {
    float: right;
    display: inline;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.redes{
    font-size: 50px;
}
footer p{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ubi {
    height: 200px;
    width: 300px;
}