* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    text-decoration: none;
}





.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90%;
    font-size: 25px;
}
.navbarinput{
    width: 90%;
}
.lupa {
    height: 44px;
    width: 40px;
}

.userlogo {
    background-image: url(../user.png);
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
}
.nav{
    text-decoration: none;
    list-style: none;
    padding: 5px;
    margin: 5px;
}
.nav li{
    list-style: none;
}
.nav a {
    display: block;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;

}




.video {
    height: 500px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barradivisora {
    height: 10px;
    background-color: orange;
}

.catalogocont {
    height: 600px;
    width: 100%;
    overflow: auto;

}
.reseña{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    padding: 5px;
}
.reseña p{
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
.imgreseña {
    height: 100px;
}

.catalogos {
    display: inline-block
}

.txtcatalogo {
    float: right;
    display: inline;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.redes {
    font-size: 50px;
}

footer p {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ubi {
    height: 200px;
    width: 300px;
}


/* NOSOTROS */
.header{
    padding: 20px;
    height: 20vh;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header h2{
    color: black;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
}
.main{
    background-image: url(../nostrospng.jpg);
    background-position: center;
    background-size: cover;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.main h1{
    font-size: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    text-shadow: 0 0 5px black;
}
.usgeneral p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}
.mision{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 10px;
}
.mision h2{
    text-transform: uppercase;
    color: #333;
}
.card1{
    border:  solid 5px  orange;
}
.imgcard1{
    height: 50vh;
    background-image: url(../card1.jpg);
    background-position: center;
    background-size: cover;
}
.imgcard2{
    height: 50vh;
    background-image: url(../card2.jpg);
    background-position: center;
    background-size: cover;
}
.imgcard3{
    height: 50vh;
    background-image: url(../card3.jpg);
    background-position: center;
    background-size: cover;
}
.maps{
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    padding: 20px;
}

/* PRODUCTOS */

.cards {
    height: auto;
    display: grid;
    padding: 100px;
    grid-gap: 80px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 500px;
    grid-template-areas:
        "card1 card2 card3"
        "card1 card2 card3"
        "card4 card4 card4"
        "card5 card5 card5";
}

.card1 {
    background-color: #333;
    grid-area: card1;
    display: block;
    border: solid 5px black;
    padding: 20px;
}

.card2 {
    background-color: #333;
    grid-area: card2;
    border: solid 5px black;
    padding: 20px;
}

.card3 {
    background-color: #333;
    grid-area: card3;
    border: solid 5px black;
    padding: 20px;
}

.card4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    grid-area: card4;
    border: solid 5px black;
    padding: 20px;
}

.card5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    grid-area: card5;
    border: solid 5px black;
    padding: 20px;
}

.imgcard {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cards p {
    text-align: center;
    padding: 20px;
}

.buyform {
    padding: 20px;
}

.buy {
    width: 100%;
    height: 40px;
    background-color: rgb(71, 71, 211);
}

.buy4 {
    width: 100%;
    height: 200px;
    background-color: rgb(71, 71, 211);
}

.buy:hover {
    filter: grayscale(100%);
}

.buy4:hover {
    filter: grayscale(100%);
}

.sectionproductos {
    display: block;
    padding: 20px;
    height: auto;
}

.filter {
    display: block;
    height: 30px;
    width: 70px;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablaproductos {
    text-align: center;
    display: grid;
    grid-template-columns: 300px 500px 200px;
    grid-template-rows: auto;
}

.productos {
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
}

.descripcion {
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
}

.precios {
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
}

.tabla {
    border: 2px solid black;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtabla {
    height: 200px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    body {
        max-width: 100%;
    }
    .navba {
        width: 80%;
    }

    .lupa {
        display: inline-block;
    }

    .userlog {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .nav {
        display: flex;
        justify-content: center;
    }

    main h1 {
        font-size: 75px;
    }

    footer {
        display: block;
        width: 100%;
    }

    footer .ubi {
        width: 100%;
    }

    /* NOSOTROS */
    .header{
        display: block;
        height: 45vh;
    }
    .navbar{
        width:100%;
        height: 50px;
        display: flex;
    }
    .navbarinput{
        width: 70%;
        padding: 0px;
    }
    .user{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header h2{
        font-size: 50px;
    }
    .main h1{
        font-size: 60px;
    }
    .usgeneral p{
        font-size: 30px;
    }
    .footer{
        display: block;
        max-width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 700px){
    .header h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header{
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 10px;
        align-items:center;
    }
    .navbarinput{
        width: 85%;
    }
    .user{
        margin: 30px;
    }
    .catalogocont{
        height: 50vh;
    }
    .footer{
        display: block;
    }
    .main h1{
        font-size: 90px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1920px){
    .header h2{
        font-size: 40px;
        padding: 5px;
    }
    .header{
        max-width: 100%;
        padding: 10px;
    }
    .navbarinput{
        width: 75%;
    }
    .catalogocont{
        height: 40vh;
    }
}